In [110]:
import pandas as pd 
import torch
import sentencepiece as spm
import ast
from torch.nn.utils.rnn import pad_sequence
from sklearn.model_selection import train_test_split
import torch.nn as nn
import torch.optim as optim

In [111]:
df = pd.read_csv("C:\Emotion Classification\\traning\in_model_data\data.csv", sep=',')
df.sample(2)

<>:1: SyntaxWarning: invalid escape sequence '\E'
<>:1: SyntaxWarning: invalid escape sequence '\E'
C:\Users\illya\AppData\Local\Temp\ipykernel_15744\2144087589.py:1: SyntaxWarning: invalid escape sequence '\E'
  df = pd.read_csv("C:\Emotion Classification\\traning\in_model_data\data.csv", sep=',')

,text,example_very_unclear,admiration,amusement,anger,annoyance,approval,caring,confusion,curiosity,...,love,nervousness,optimism,pride,realization,relief,remorse,sadness,surprise,neutral
53265,"[41470, 0, 11432, 427, 850, 41496, 41470, 0, 1...",0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
41100,"[41470, 0, 41476, 2270, 13, 477, 538, 41509, 5...",0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [112]:
df['text'] = df['text'].apply(ast.literal_eval)
list_of_lists = df['text'].apply(lambda x: [int(i) for i in x])

In [113]:
type(df['text'][0][0])

int

In [114]:
tensor_list = [torch.tensor(seq, dtype=torch.long) for seq in list_of_lists]
X = pad_sequence(tensor_list, batch_first=True, padding_value=0)
y = df.drop(columns=['text'], axis=1)

In [115]:
y = torch.tensor(y.values, dtype=torch.long)

In [116]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [117]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

(torch.Size([56000, 142]),
 torch.Size([56000, 29]),
 torch.Size([14000, 142]),
 torch.Size([14000, 29]))

In [118]:
X_train[0]

tensor([41470,     0,   147,   223,  2724,    29,  3337,   393,  1526, 41495,
          199, 41495, 27909, 41488,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0])